body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Comic Sans MS', cursive;
}

/* Crédito arriba */
.credit {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    z-index: 10;
}

/* Cielo */
.sky {
    background: linear-gradient(#7ad3ff, #a7e4ff);
    width: 100%;
    height: 80vh;
    position: relative;
    text-align: center;
}

/* Césped */
.grass {
    background: #2ecc71;
    height: 20vh;
    width: 100%;
}

/* Nubes */
.cloud {
    width: 150px;
    height: 70px;
    background: white;
    border-radius: 50%;
    position: absolute;
    filter: blur(1px);
    animation: moverNube 25s infinite linear;
}

.cloud1 { top: 50px; left: -200px; animation-delay: 0s; }
.cloud2 { top: 120px; left: -350px; animation-delay: 6s; }
.cloud3 { top: 180px; left: -250px; animation-delay: 12s; }

@keyframes moverNube {
    from { transform: translateX(0); }
    to { transform: translateX(1500px); }
}

/* Título con efecto 3D */
.title {
    margin-top: 180px;
    font-size: 55px;
    color: #ff4eb8;
    text-shadow: 4px 4px #d62e8a, 7px 7px rgba(0,0,0,0.15);
    font-weight: bold;
}

/* Palabra especial */
.word {
    font-size: 60px;
    color: #ff4eb8;
    font-family: 'Comic Sans MS', cursive;
}

/* Pizza animada */
.pizza {
    display: inline-block;
    font-size: 65px;
    animation: moverPizza 1.5s infinite ease-in-out;
}

@keyframes moverPizza {
    0% { transform: translateY(0px) rotate(0deg); }
    50% { transform: translateY(-10px) rotate(10deg); }
    100% { transform: translateY(0px) rotate(0deg); }
}

/* Botón */
.start-btn {
    margin-top: 40px;
    padding: 15px 40px;
    background: #00aaff;
    color: white;
    font-size: 26px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 4px 0px #0078b6;
    transition: 0.2s;
}

.start-btn:active {
    transform: translateY(3px);
    box-shadow: 0px 1px 0px #0078b6;
}
