/* =============================
   RESPONSIVE
   ============================= */

/* Teléfono → vertical */
@media (max-width: 600px) {
    .juego-img {
        transform: rotate(0deg);
    }
}

/* Tablet y PC → horizontal */
@media (min-width: 601px) {
    .juego-img {
        transform: rotate(0deg);
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
